<%= form_with(model: robot, local: true) do |form| %>
  <% if robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

      <ul>
      <% robot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :robot_name %>
  </div>

  <div class="field">
    <%= form.label :speed %>
    <%= form.number_field :speed, id: :robot_speed %>
  </div>

  <div class="field">
    <%= form.label :strength %>
    <%= form.number_field :strength, id: :robot_strength %>
  </div>

  <div class="field">
    <%= form.label :agility %>
    <%= form.number_field :agility, id: :robot_agility %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
