<p id="notice"><%= notice %></p>

<h1>Robots</h1>
<h2>Starters</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Speed</th>
      <th>Strength</th>
      <th>Agility</th>
    </tr>
  </thead>

  <tbody>
    <% @starters.each do |robot| %>
      <tr>
        <td><%= robot.name %></td>
        <td><%= robot.speed %></td>
        <td><%= robot.strength %></td>
        <td><%= robot.agility %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h2>Subs</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Speed</th>
      <th>Strength</th>
      <th>Agility</th>
    </tr>
  </thead>

  <tbody>
    <% @subs.each do |robot| %>
      <tr>
        <td><%= robot.name %></td>
        <td><%= robot.speed %></td>
        <td><%= robot.strength %></td>
        <td><%= robot.agility %></td>
      </tr>
    <% end %>
  </tbody>
</table>