<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @robot.name %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @robot.speed %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @robot.strength %>
</p>

<p>
  <strong>Agility:</strong>
  <%= @robot.agility %>
</p>

<%= link_to 'Edit', edit_robot_path(@robot) %> |
<%= link_to 'Back', robots_path %>
